.board-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cell-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 20px;
}

.img-trans{
    opacity: 0.5;
    max-width: 20px;
}